<div class="alert alert-success mt-3" role="alert" *ngIf="successo">
    Operazione effettuata con successo xD
</div>

<table class="table table-striped" style="background-color: rgba(255, 255, 255, 0.75);">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Durata</th>
            <th>DataInizio</th>
            <th>DataFine</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pacc of elencopacchettiperdestinazione">
            <td>{{ pacc.nom }}</td>
            <td>{{ pacc.pre }}</td>
            <td>{{ pacc.dur }}</td>
            <td>{{ pacc.din }}</td>
            <td>{{ pacc.dfi }}</td>
            <!-- <td>
                <button type="button" class="btn btn-danger" (click)="elimina(uten.cod)">X</button>
                <a href="/utenti/modifica/{{ uten.cod }}" class="btn btn-warning">M</a>
            </td> -->
        </tr>
    </tbody>
</table>