
#jumbo {
    background-color: rgba(255, 255, 255, 0.75) ; /* Sfondo trasparente */
}

.bgh {
    /* The image used */
    background-image: url("../src/img/sfondoVacanGio.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 100%;


}


@media (min-width: 1120px),
(min-height: 630px) {
    body {
        background-size: auto;
    }
}

